<table>
<tr>
<th>Datum</td><th>Omschrijving</th><th>Bedrag</th><th>Acties</th>
</tr>
<tr ng-repeat="payment in payments">
<td>
<input class="datepicker" type="date" ng-model="payment.dateString" />
</td>
<td>
<input type="text" ng-model="payment.description" />
</td>
<td>
<input type="number" ng-model="payment.value" />
</td>
<td>
<input type="button" ng-click="removePayment(payment)" value="Verwijder" /></input>
</td>
</tr>
<tr>
<td>
<input class="datepicker" type="date" ng-model="newPayment.dateString" />
</td>
<td>
<input type="text" ng-model="newPayment.description" />
</td>
<td>
<input type="number" ng-model="newPayment.value" />
</td>
<td>
<input type="button" ng-click="saveNewPayment()" value="Toevoegen" />
</td>
</tr>
<tr>
<td colspan="2">
<b>Totaal</b>
</td>
<td>{{totalValue() | currency:EUR}}</td>
<td></td>
</tr>
</table>